<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miracle.api.mapper.common.CommonMapper">
	<!-- Field SQL -->
	<sql id="field_sql">
		<choose>
			<when test="field_sql != null and field_sql != ''">
				${field_sql}
			</when>
			<otherwise>
				*
			</otherwise>
		</choose>
	</sql>

	<!-- Where SQL -->
	<sql id="where_sql">
		<where>
			<if test="where_sql != null and where_sql !='' ">
				${where_sql}
			</if>
		</where>
	</sql>

	<!-- Group SQL -->
	<sql id="group_sql">
		<if test="group_sql != null and group_sql != ''">
			${group_sql}
		</if>
	</sql>

	<!-- Order SQL -->
	<sql id="order_sql">
		<if test="order_sql != null and order_sql != ''">
			${order_sql}
		</if>
	</sql>

	<!-- Limit SQL -->
	<sql id="limit_sql">
		<if test="limit_sql != null and limit_sql != ''">
			${limit_sql}
		</if>
	</sql>

	<!-- SQL -->
	<sql id="sql">
		<if test="sql != null and sql != ''">
			${sql}
		</if>
	</sql>
</mapper>